<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :result_value %><br>
    <%= f.number_field :result_value %>
  </div>
  <div class="field">
    <%= f.label :reported_at %><br>
    <%= f.datetime_select :reported_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
